.testimonials {
    height: 80vh;
    background-color: var(--color-secondary-container);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 5em 2em 5em
}



